{% extends "base.html" %}
    {% load static %}
    {% block content %}
    <div id="background">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h1 class="title" style="text-align: center; justify-content: center;">Educational Background</h1>
                        <div class="square">
                            <p>University of Indonesia - (2018-Now)</br></p>
                            <p>SMAN 26 Jakarta - (2015-2018)</br></p>
                            <p>SMPN 73 Jakarta - (2012-2015)</br></p>
                            <p>SDN Tebet Timur 07 - (2006-2012)</p>
                        </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <h1 class="title" style="text-align: center; justify-content: center;">Experiences</h1>
                    <div class="square">
                        <p>Vice PIC Fundraising, PMB Fasilkom 2019</br></p>
                        <p>Treasurer, SIWAK-NG 2019</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}