{% extends "base.html" %}
    {% load static %}
    {% block content %}
        <!-- gallery page -->
        <div id="gallery">
            <div class="container container-fluid"></div>
                <h1 class="title" style="padding-top:100px; text-align: center; justify-content: center;">My Gallery</h1>
                <div class="row">
                    <div class="col-lg-4 col-sm-12">
                        </br></br></br>
                        <img id="photo" class="img-circle2" alt="Fitri Handayani" src="https://files.catbox.moe/xhvmt9.jpg"  width=300 height=330 border>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        </br></br></br>
                        <img id="photo" class="img-circle2" alt="Fitri Handayani" src="https://files.catbox.moe/zkg0li.jpg"  width=300 height=330 border>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        </br></br></br>
                        <img id="photo" class="img-circle2" alt="Fitri Handayani" src="https://files.catbox.moe/6v7bd1.jpg"  width=300 height=330 border>
                    </div>
                </div>
            </div>
        </div>
    {% endblock content %}