{% extends "base.html" %}
    {% load static %}
        {% block content %}
        <!-- homepage -->
        <div id="home">
            <h1 style="text-align: center; justify-content: center; font-size: 80px;">Fitri </br>Handayani</h1>
        </div>
        {% endblock content %}
