{% extends "base.html" %}
    {% load static %}
    {% block content %}
    <!-- schedule page -->
    <div id="schedule">
        <div class="container">
            <h1 class="title" style="padding-top: 100px; text-align: center; justify-content: center;">Fitri's Schedule</h1>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{schedule.name.label}}
                        {{schedule.name}}
                    </div>
                    <div class="form-group">
                        {{schedule.place.label}}
                        {{schedule.place}}
                    </div>
                    <div class="form-group">
                        {{schedule.category.label}}
                        {{schedule.category}}
                    </div>
                    <div class="form-group">
                        {{schedule.start_time.label}}
                        {{schedule.start_time}}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <a style="padding-bottom: 50px;" href="{% url 'scheduleList' %}">Click here to see my schedule</a>
        </div>
    </div>
    {% endblock content %}