{% extends "base.html" %}
    {% load static %}
    {% block content %}
    <!-- scheduleList page -->
    <div id="scheduleList">
            <div class="container">
                <h1 class="title" style="padding-top: 100px; text-align: center;">Fitri's Schedule</h1>
                {% if schedule_list %}
                    <table class="table table-bordered">
                        <thead class="bg-success" style="text-align: center; color: white;">
                            <th scope="col">No</th>
                            <th scope="col">Name of Schedule</th>
                            <th scope="col">Place</th>
                            <th scope="col">Category</th>
                            <th scope="col">Start Time</th>
                            <th scope="col">Delete Schedule</th>
                        </thead>
                    {% for schedule in schedule_list %}    
                    <tbody style="text-align: center;">
                    <tr class="table-light">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ schedule.name }}</td>
                        <td>{{ schedule.place }}</td>
                        <td>{{ schedule.category }}</td>
                        <td>{{ schedule.start_time }}</td>
                        <td><a class="btn btn-danger" href="{% url 'delete' schedule.id %}">Delete</a></td>
                    </tr>
                    </tbody>
                    {% endfor %}
                    </table>
                {% else %}
                    <div class="container" style="text-align: center; color:tomato; text">
                        <h1><b>There's No Schedule!</b></h1>
                        <h2><b>~Happy Holiday~</b></h2>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endblock content %}